/********************************************************
        Mobile Devices
        Version:   1.0
********************************************************/

/********************************************************
        ## Min Width 1200px
********************************************************/
@media (min-width: 1200px) {

}
/********************************************************
        ## Min Width 992px And Max Width 1199px
********************************************************/
@media (min-width: 992px) and (max-width: 1199px) {
    .padding-fix {
        padding: 0 15px;
    }
    .primary-menu ul li a {
        padding: 20px 15px;
    }
    .type-wrap {
        top: 30%;
    }
    .type-inner {
        max-width: 900px;
    }
    .type-inner h1 {
        font-size: 36px;
    }
}
/********************************************************
        ## Min Width 768px And Max Width 991px
********************************************************/
@media (min-width: 768px) and (max-width: 991px){
    .primary-menu ul li a {
        padding: 20px 8px;
        font-size: 14px;
    }
    .type-wrap {
        top: 22%;
        padding: 0 15px;
    }
    .type-inner h1 {
        font-size: 30px;
    }
    .padding-fix {
        padding: 0 15px;
    }
    .navbar-collapse.collapse{
        padding: 0;
    }
}
/********************************************************
        ## Max Width 767px
********************************************************/
@media only screen and (max-width:767px) {
    .request-a-quote div.wpcf7-mail-sent-ok{
        margin-top: 0;
        float: none;
    }
    .primary-menu .xs-angle-down {
        margin: -10px 0 0 0;
        padding: 9px 15px;
        background: #fff;
        float: right;
        color: #333;
        font-size: 22px;
        border: 1px solid transparent;
    }
    .navbar-default .navbar-collapse {
        overflow: hidden;
    }
    .primary-menu ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: none;
    }
    .primary-menu ul.nav li.dropdown > ul.dropdown-menu.active {
        display: block;
        box-shadow: none;
        border: 0;
    }
    .primary-menu .dropdown-menu {
        width: auto;
        float: none;
        position: static;
    }
    .text-center-xs,.header-top .text-right{
        text-align: center;
    }
    .logo img{
        margin: 0 auto;
    }
    .header-social {
        margin-bottom: 10px;
    }
    .navbar-default .navbar-toggle{
        margin-right: 0;
        border-color: #000;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: #000;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background-color: #000;
    }
    .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{
        background-color: #fff;
    }
    .padding-fix {
        padding: 0 30px;
    }
    .primary-menu .navbar-nav>li, .primary-menu .navbar-nav {
        display: block;
        text-align: left;
    }
    .we-are-an-agency{
        padding: 60px 0 0;
    }
    .item-fix {
        margin-bottom: 40px;
    }
    .our-service{
        margin-bottom: 50px;
    }
    .sticky.header {
        position: relative;
    }
    .header-top:after,.request-account .request-button:before{
        display: none;
    }
    .request-account{
        position: absolute;
        top: 0;
        right: 60px;
    }
    .logo{
        margin: 0;
    }
    .header {
        padding: 15px 0;
    }
    .request-account .request-button:focus, .request-account .request-button{
        background: none;
        color: inherit;
        padding-top: 15px;
    }
    .type-wrap {
        padding: 0 15px;
    }
    .type-inner h1 {
        line-height: inherit;
        font-size: 30px;
    }
    .typed-cursor{
        font-size: 60px;
    }
    .portfolio-details {
        top: 5%;
    }
    .phone-email-skype span{
        background: #00e06d;
        border: 1px solid #00e06d;
        color: #fff;
    }
}
/********************************************************
        ## Max Width 480px
********************************************************/
@media only screen and (max-width:480px) {
    .contact-details-fix{
        padding: 0;
    }
    .testimonial-details {
        min-height: 515px;
    }
    .portfolio-details h1{
        font-size: 18px;
    }
    .portfolio-details {
        padding: 15px;
        top: 0;
    }
    .brand-logo li {
        width: 50%;
    }
    .info-details p {
        font-size: 18px;
    }
    .request-account,.header-top:after{
        display: none;
    }
    .portfolio-text a {
        margin-top: 10px;
        padding: 3px 15px;
    }
    .type-wrap {
        position: relative;
        top: 0;
    }
    .type-inner h1 {
        line-height: inherit;
        font-size: 30px;
    }
}
/********************************************************
        Max Width 320px
********************************************************/
@media only screen and (max-width:320px) {

}
/********************************************************
        Max Width 240px
********************************************************/
@media only screen and (max-width:240px) {

}